body, html {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
}

.MainView {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    background-color: #F0F0F0;
}

.NavBar {
    width: 100%;
    height: 50px;
    padding: 8px 16px;
    background-color: #343a40;
    color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.NavBarHeader {
    font-size: 20px;
    font-weight: 600;
    flex: 1 0 auto;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.NavBarSelect {
    width: 30% !important;
    max-width: 400px;
}

.SelectUserWrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.SelectInput {
    max-width: 250px;
    margin-left: 25px;
}

.MainViewContent{
    flex: 1 0 auto;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.EventSelect {
    width: 100%;
    min-height: 200px;
    height: calc(100vh - 50px);
}

.SelectUserPrompt {
    min-height: 200px;
    width: 100%;
    height: calc(100vh - 50px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: 600;
    color: lightslategray;
}

.SelectEventContainer {
    width: 100%;
    min-height: 200px;
    height: calc(100vh - 50px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SelectSeatContainer {
    width: 70%;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.SelectEventPrompt {
    width: 70%;
    height: 50px;
    padding: 8px 16px;
    background-color: #343a40;
    color: white;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.SelectEventPromptHeader {
    font-size: 16px;
    font-weight: 600;
    flex: 1 0 auto;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Seat {
    width: 60px;
    height: 60px;
    margin: 10px;
    display: block;
    position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}

.Seat input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: forestgreen;
    opacity:0.5;
}

.Seat:hover input ~ .checkmark {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.Seat input:checked ~ .checkmark {
    opacity:1;
}

.Seat input:disabled ~ .checkmark {
    background-color: darkred;
}

.SubmitButton {
    position: fixed;
    right: 40px;
    bottom: 40px;
}